

<% if flash[:errors] %>
    <div class="alert alert-danger" role="alert">
        <%flash[:errors].each do |message| %>
        <div class="notice"><%=message%></div>
        <%end %>
    </div>
<% end %>

<!--
<%= form_for @user do |f| %>
    <%= f.label 'Full name: '%>
    <%= f.text_field :name %><br>
    <%= f.label 'Edit a username: '%>
    <%= f.text_field :username %><br>
    <%= f.label 'Edit a password: '%>
    <%= f.password_field :password %><br>
    <%= f.label 'Confirm password: '%>
    <%= f.password_field :password_confirmation %><br>
    <%= f.label 'Delivery address: '%>
    <%= f.text_field :address %><br>
    <%= f.label 'Email address: '%>
    <%= f.email_field :email %><br>
    <%= f.label 'Phone number: '%>
    <%= f.phone_field :phone_number %><br>
    <button type="submit" class="btn btn-danger">Update</button>
<% end %>
-->

<br>


<form action="/users" name="myForm" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
	<div class="container-fluid">
		<div class="row">
			<div class="well center-block">
				<div class="well-header">
					<h3 class="text-center text-danger"> Edit your account </h3>
					<hr>
				</div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" value="<%=@user.name %>" placeholder="Full Name" class="form-control" id="name" name="user[name]">	
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-user"></i>
								</div>
								<input type="text" value="<%=@user.username %>" placeholder="Username" class="form-control" id="username" name="user[username]">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input type="password" minlength="8" maxlength="20" value="<%=@user.password %>" placeholder="Password" class="form-control" id="password" name="user[password]">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-lock"></i>
								</div>
								<input type="password" minlength="8" maxlength="20" value="<%=@user.password_confirmation %>" placeholder="Confirm Password" class="form-control" id="password_confirmation" name="user[password_confirmation]">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-list-alt"></i>
								</div>
								<textarea class="form-control" value="<%=@user.address %>" value="<%=@user.address %>" placeholder="Delivery Address" id="address" name="user[address]"></textarea>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-envelope"></i>
								</div>
								<input type="email" class="form-control" value="<%=@user.email %>" placeholder="E-Mail" id="email" name="user[email]">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="glyphicon glyphicon-phone"></i>
								</div>
								<input type="number" minlength="10" maxlength="12" class="form-control" value="<%=@user.phone_number %>" placeholder="Phone Number" id="phone_number" name="user[phone_number]">
							</div>
						</div>
					</div>
				</div>

				<div class="row widget">
					<div class="col-md-12 col-xs-12 col-sm-12">
						<button type="submit" class="btn btn-danger btn-block"> Edit Account </button>
					</div>
				</div>
			</div>
		</div>
	</div>


</form>
