<h1>Sign up for GrubCRUD</h1>

<%= form_for @user do |f| %>
    <%= f.label 'Full name: '%>
    <%= f.text_field :name %><br>
    <%= f.label 'Create a username: '%>
    <%= f.text_field :username %><br>
    <%= f.label 'Create a password: '%>
    <%= f.password_field :password %><br>
    <%= f.label 'Enter your delivery address: '%>
    <%= f.text_field :address %><br>
    <%= f.label 'Email address: '%>
    <%= f.email_field :email %><br>
    <%= f.label 'Phone number: '%>
    <%= f.phone_field :phone_number %><br>
    <%= f.submit "Create Account" %>
<% end %>