<div class="profile-container">
  <h1>Hey, <%=@current_user.name.capitalize%>!</h1>
  <br>
  <h3>Your order history:</h3>
    <%if @current_user.orders.count > 0%>
        <%@current_user.orders.each do |order|%>
          Order No. <%=order.id%>
          <%=order.created_at.strftime("%b %d, %Y")%>
          <%cart_total = 0 %>
          <%order.order_items.each do |i|%>
              <%cart_total = cart_total + i.item.price * i.quantity.to_i%>
          <%end%>
        Order Total: <%=number_to_currency cart_total%><br>
      <%end%>
    <%else %>
      <%="You have not placed any orders yet."%>
      <br>
    <%end %>
  <br>
  <div id="button-container">
    <button type="button" class="btn btn-danger btn-sm"><a href = '/users/<%=@current_user.id%>/edit'>Edit My Details</a></button>

    <button type="button" class="btn btn-danger btn-sm"><%= link_to "Delete My Account", @current_user, :data => {:confirm => "Are you sure?", :method => "delete", class: 'delete-button float-button'} %></button>
  </div>
</div>