<h1>Your Cart</h1>

<% if @order_items.any? %>
  <% @order_items.each do |i| %>
       <p>Restaurant: <%= i.item.restaurant.name%> </p>
       <strong><%= i.item.name %> </strong>  |   Unit Price: <%= number_to_currency i.item.price %>  |  Quantity: <%= i.quantity %> | 
       
       <%= link_to "Delete", i, :data => {:confirm => "You sure?", :method => "delete"} %></p>
  
  <% end %>

<%cart_total = 0 %>
<%@order_items.each do |i|%>
    <%cart_total = cart_total + i.item.price * i.quantity.to_i%>
    <%end%>
<strong><font size = 5>Your Total: <%=number_to_currency cart_total%></font></strong>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
<br>
<br>

<a href = '/'><button type="button" class="btn btn-danger btn-sm">Go Home</button></a>

<br>

<br>

<a href = '/orders/<%="#{session[:order_id]}"%>'><button type="button" class="btn btn-outline-danger btn-sm">Checkout</button></a>

