<div id="cart-wrapper">
  <h1>Your Cart</h1>

  <% if @order_items.any? %>
    <% @order_items.each do |i| %>
      <p>Restaurant: <%= i.item.restaurant.name%> </p>
      <strong><%= i.item.name %> </strong><br> Unit Price: <%= number_to_currency i.item.price %><br>Quantity: <%= i.quantity %> |  
      <%= link_to "Delete", i, :data => {:confirm => "Are you sure?", :method => "delete"}, class: 'red-hover' %></p>
    <% end %>

    <%cart_total = 0 %>

    <%@order_items.each do |i|%>
      <%cart_total = cart_total + i.item.price * i.quantity.to_i%>
    <%end%>

    <span id="total">Your Total: <%=number_to_currency cart_total%></span>
    <br>
    <br>
    <%= link_to "Checkout", order_path(session[:order_id]), class: 'red-hover'%>
  <% else %>
    <p>Your shopping cart is empty. <br> Are you getting hungry?</p>
  <% end %>
  <br>
  <br>
  
<a href = '/'><button type="button" class="btn btn-danger btn-sm">Go Home</button></a>

<br>


<a href = '/orders/<%="#{session[:order_id]}"%>'><button type="button" class="btn btn-outline-danger btn-sm">Checkout</button></a>

