  <%= form_for @order_item do |f| %>
<% @restaurant.items.each do |item| %>
  <p><%= item.name %> | <%= number_to_currency item.price %>
    <%= f.hidden_field :item_id, value: item.id %>
    <%= f.number_field :quantity %>
  <% end %></p>

<% end %>
<%= submit_tag "Add to cart" %>