<% if flash[:success] %>
    <div class="alert alert-warning" role="alert">
        <div class="notice"><%= flash[:success] %></div>
    </div>
<% end %>

<div id="restaurant-wrapper">
  <% @restaurant.items.each do |item| %>
    <p><span id="item-names"><%= item.name %></span>  <span id="item-price"><%= number_to_currency item.price %></span></p>
    <br>
    <p id="item-description"><%= item.description %></p>
      <div id="item-quantity">
        <%= form_for @order_item do |f| %>
          <%= f.hidden_field :item_id, value: item.id %>
          
          
          <%= f.label :quantity, "Add Quantity:" %>
          <%= f.number_field :quantity, min: 0 %>
          <%= f.submit "Add to cart", class: "btn btn-danger btn-md float-button"%>
          <hr>
        <% end %></p>
      </div>
  <% end %>
<a href = '/cart'><button type="button" class="btn btn-danger btn-md center-button">Go to My Cart</button></a>
</div>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 <script>
