
<% @restaurant.items.each do |item| %>
  <p><%= item.name %> | <%= number_to_currency item.price %><br>
  <p><%= item.description %><br>
    <%= form_for @order_item do |f| %>
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.number_field :quantity, min: 0 %>
  <%= f.submit "Add to cart"%>
  <% end %></p>
<% end %>

<%= link_to "Go to My Cart", cart_path%>