# Shows restaurant name
<h3> <%= restaurant.name %> </h3>

# Shows item name
<h1> <%= "#{item.name}" %> </h1>

# show image 
    # need to determine sizing.
<img src= <%= @item.img_url %> width="50%" height="50%">


# ***details/description of item***
<p><%= "#{item.description}" %></p>
<p><%= "#{item.price}" %></p>

# include button to add to order.
<%= link_to 'Add to Order', order_items_path %>

# add items to order via "add to order" button or check box.
    # flashes message "Item has been added to order".

    # redirects to  page.
    redirect_to items_path 
# separate link_to order page

